name: CI/CD for Challenge

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        build: [build1, build2]

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Docker
      uses: docker/setup-docker@v1

    - name: Build microservice_a
      id: build
      uses: docker/build-push-action@v2
      with:
        context: .
        file: ./flask_200/Dockerfile
        push: false

    - name: Test with Python script
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Install dependencies
      run: |
        python -m venv env
        source env/bin/activate

    - name: Run Python script for testing
      run: |
        docker run -d -p 5000:5000 ${{ steps.build.outputs.image-id }}
        sleep 5
        source env/bin/activate
        python python-test/python_test.py

    - name: Push Docker Image to Docker registry
      if: success()
      uses: docker/build-push-action@v4
      with:
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/microservice_a:${{ env.GITHUB_SHA }}
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
